.box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aqua;
}

/* @keyframes circle {
    
    100%{
        background-color: cornflowerblue;
        width:300px;
        height:300px;
    }

} */